In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### 1. Write a Python program to get the volume of a sphere with radius 6

In [16]:
def sphere():
    
    pi = 3.14
    r= 6.0
    V= 4.0/3.0*pi* r**3
    
def main():
    
    print('The volume of the sphere is: ',V)

if __name__=="__main__":
    main()

The volume of the sphere is:  904.7786842338603

### 2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

In [19]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum
    
def main():

    print(sum_thrice(1, 2, 3))
    print(sum_thrice(3, 3, 3))

if __name__=="__main__":
    main()

6
27

### 3. Write a Python program to count the number 4 in a given list.

In [27]:
def list_count_4(nums):
    count = 0  
    for num in nums:
        if num == 4:
            count = count + 1
    
    return count
def main():
    
    print("Number four in the list",list_count_4([1, 4, 6, 7, 4]),"times")
    print("Number four in the list",list_count_4([1, 4, 6, 4, 7, 4]),"times")

if __name__=="__main__":
    main()

Number four in the list 2 times
Number four in the list 3 times

### 4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list :

In [9]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]

for x in numbers:
    if x == 237:
        print(x,end=" ")
        break;
    elif x % 2 == 0:
        print(x,end=" ")

386 462 418 344 236 566 978 328 162 758 918 237

### 5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [16]:
list=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        list.append(str(x))

print("divisible by 7 and multiple of 5:",list)

divisible by 7 and multiple of 5: ['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

### 6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [2]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')

0 1 2 4 5

### 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [3]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

### 8. Write a Python program to get the Fibonacci series between 0 to 50.

In [4]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

### 9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [9]:
def unique_list(l):
  x = []
  for i in l:
    if i not in x:
      x.append(i)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]